<h1>Bonjour <%= @user.first_name %>,</h1>

<p>Bénéficiez d'une séance supplémentaire offerte en parrainant 5 de vos amis !
<br>
Ils n'auront qu'à utiliser votre code promo lors de leur inscription.</p>

<p>Votre code promo : <%= @user.promocode %></p>

<p>A très bientôt !</p>

<p>Paul de Chaud Patate</p>
