<div class="member">
    <%= image_tag "https://res.cloudinary.com/ind-pendant/image/upload/v1478766698/user_mkbsoj.png", width: 80, height: 80, crop: :fill, class: "avatar-big" %>
  <p><%= city_member.email %></p>
</div>
