<div class="container text-center">
<br>
<br>
<p>Le texte qui suit présente les conditions générales d'utilisation du site chaudpatate.org. Tout visiteur du site chaudpatate.org admet en avoir pris connaissance et les accepter. Fréquence Sport SAS se réserve le droit de modifier à tout moment les présentes notamment en faisant évoluer son site.</p>
<br>
<br>
<h2>INFORMATIONS LÉGALES</h2>
<br>
<br>
<p>Ce site est édité par Fréquence Sport SAS, 10 Rue de Penthièvre, 75008 Paris,
N° SIREN : 187 500 020
N° SIRET : 187 500 020 00065
Directeur de la publication : Paul Voillemin, Président Directeur Général de Fréquence Sport SAS
Comité de rédaction : Vincent de Bernardi, Directeur de la Communication et des Relations Institutionnelles
Le site a été développé par la société  Juliette Engel, 9 rue Ernest Renan 92130 Issy-les-Moulineaux
Le site est hébergé par la société OVH, opérateur Internet et Hébergeur à destination des entreprises. www.ovh.com
2 Rue Kellermann, 59100 Roubaix, FRANCE
T. : +33 (09 72 10 10 07   https://www.ovh.com/fr/services/
Crédits photographiques
Paul Voillemin
Pour toute remarque, question ou suggestion contact@chaudpatate.org</p>
<br>
<br>
<h3>CONDITIONS D'UTILISATION DU SITE</h3>
<br>
<h4>OBJET et CONTENU DU SITE</h4>
<br>
<p>Le site www.chaudpatate.org a pour objet de présenter les qu’offre Fréquence Sport.</p>
<h4>RESPONSABILITÉ</h4>
<p>L'utilisateur du site reconnaît avoir pris connaissance de la présente notice légale et s'engage à la respecter.
Fréquence Sport s'engage à faire ses meilleurs efforts pour assurer aux utilisateurs une accessibilité du site à tout moment. Toutefois, elle ne pourra être tenue responsable en cas d'indisponibilité du site, pour quelle que cause que ce soit.</p>
<p>L'utilisateur reconnaît disposer de la compétence et des moyens nécessaires pour accéder au site et l'utiliser, et reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu'elle est en parfait état de fonctionnement.</p>
<p>Fréquence Sport met tout en œuvre pour offrir aux utilisateurs des informations et des outils disponibles et vérifiés, mais ne saurait être tenue responsable des erreurs ou inexactitudes, d'une absence de disponibilité des informations et/ou de la présence de virus ou autres infections logiques sur son site.
Elle ne confère aux utilisateurs internautes aucune garantie explicite ou implicite, en ce qui concerne l'exactitude, l'exhaustivité ou la mise à jour des informations contenues dans le présent site, ou accessibles depuis ce site. En conséquence, il appartient aux utilisateurs de vérifier leurs informations en les recoupant avec toute autre source disponible. Fréquence Sport ne garantit en aucun cas l'adéquation des informations avec les besoins de l'internaute, par conséquent CCI France ne saurait supporter aucune demande de dédommagement pour préjudice direct ou indirect subi par l'internaute à la suite de la consultation et de l'utilisation des informations obtenues au moyen du site internet cci.fr.
L'utilisateur reconnaît donc utiliser les informations et outils disponibles sur le site sous sa responsabilité exclusive.</p>
<br>
<br>
<h4>PROTECTION DES DONNEES A CARACTERE PERSONNEL</h4>
<br>
<p>Conformément à l'article 32 de la loi n°78-17 relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978 modifiée, Fréquence Sport, responsable de traitement, informe l'utilisateur qu'il met en œuvre un traitement de données à caractère personnel le concernant. Les informations communiquées par l'utilisateur par le biais des formulaires disponibles sur le site sont destinées aux personnes habilitées de Fréquence Sport, à des fins de gestion administrative (Déclaration CNIL : 1954271v0). Les données identifiées par un astérisque sont obligatoires. A défaut, votre demande d'information ne pourra pas être traitée ou son traitement sera retardé.</p>
<p>L'utilisateur dispose d'un droit d'accès, d'interrogation, de modification, de rectification et de suppression des données à caractère personnel le concernant, ainsi que la gestion de ses abonnements aux publications électroniques de Fréquence Sport, par le biais de son compte personnel et/ou en s'adressant directement Fréquence Sport.</p>
<p>L'utilisateur dispose également d'un droit d'opposition au traitement de ses données à caractère personnel pour des motifs légitimes, ainsi qu'un droit d'opposition à ce que ses données soient utilisées à des fins de prospection commerciale.</p>
<p>Pour exercer ses droits, l'utilisateur doit adresser un courrier ou un mail à Fréquence Sport accompagné d'une copie d'une pièce d'identité à l'adresse suivante : Fréquence Sport SAS 10 Rue de Penthièvre, 75008 Paris, ou par courrier électronique à l'adresse contact@chaudpatate.org.
L'utilisateur du site est tenu de respecter les dispositions de la loi n°78-17 relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978 modifiée, dont la violation est passible de sanctions pénales. Notamment, il doit s'abstenir de toute collecte, de toute utilisation détournée et, d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.</p>
<br>
<br>
<h4>PROPRIÉTÉ INTELLECTUELLE</h4>
<br>
<p>Le site internet www.chaudpatate.org pris dans son ensemble, ainsi que chaque élément qui le compose (marques, logo, textes, sons, images, vidéos, animations, base de données … sans que cette liste ne soit limitative), sont la propriété exclusive de Fréquence Sport SAS (ou de tiers auprès desquels elle a obtenu une licence).</p>
<p>L'utilisateur dispose d'un droit d'usage privé, personnel, non collectif et non exclusif, sur ce contenu. Sous réserve des exceptions au droit d'auteur prévues par l'article L122-5 du Code de la propriété intellectuelle, tout autre usage du contenu est soumis à autorisation préalable et exprès de Fréquence Sport SAS, notamment dans le cas où l'utilisateur envisagerait de diffuser le contenu sur un autre site. La violation de ces dispositions impératives soumet le contrevenant, et toutes personnes responsables, aux peines pénales et civiles prévues par la loi.</p>
<p>Pour toute demande d'autorisation vous pouvez prendre contact avec Fréquence Sport SAS.</p>
<br>
<br>
<h4>LIENS</h4>
<br>
<p>Les liens présents sur le site www.chaudpatate.org peuvent orienter l'utilisateur sur des sites extérieurs dont le contenu ne peut en aucune manière engager la responsabilité de Fréquence Sport SAS.</p>

<br>
<br>

</div>

