<div class="container text-center">
<br>
<br>
<h2 class="text-center">Conditions générales de vente</h2>
<br>
<br>
<p>Le présent site est édité par la société Fréquence Sport S.A.S au capital de 3000 € immatriculée au RCS de Paris sous le numéro 801 176 769, dont le siège social est situé 10 rue Penthièvre - 75008 Paris, France (contact@chaudpatate.org).</p>
<br>
<p>L'hébergeur du site est la société OVH SAS, élisant domicile 2 rue Kellermann - 59100 Roubaix, France.</p>

<p>Le site est d'accès libre et gratuit à tout internaute.</p>
<br>
<br>
<h3>ARTICLE 1 : OBJET – VALIDATION - ACCEPTATION</h3>
<br>
<p>Le site Internet www.chaudpatate.org (ci-après désigné le « Site ») est une plateforme communautaire qui propose de mettre en relation des sportifs amateurs (ci-après désignés « les Clients ») avec des professionnels de l’encadrement d’activités sportives locaux (ci-après désignés « les Coachs »).</p>
<br>
<p>Le présent site internet a pour objet de fournir des informations sur les services proposés par la société Fréquence Sport et d’abonner le client aux prestations sportives proposées par la société Fréquence Sport selon un concept innovant consistant à proposer des activités sportives, en plein air et dans les différentes structures d’accueils à PARIS et dans le reste de la France, pour des personnes de niveaux divers ou exclusifs et selon des horaires variés.</p>
<br>
<p>Trois services sont proposés sur le Site :</p>
<br>
<ul>
  <li>Chaud Patate, le networking sportif pour les entrepreneurs,</li>
  <li>Des cours de sport hebdomadaires et privés dédié aux entreprises,</li>
  <li>Des événements sportifs dédiés aux entreprises.</li>
</ul>
<br>
<p>La société Fréquence Sport précise que les cours seront assurés par des professionnels de l’enseignement sportif (coachs sportifs) travaillant en autonomie et sous leur propre responsabilité. Ainsi ils devront présenter leur carte professionnelle et une attestation de responsabilité civile professionnelle.</p>
<br>
<p>L’utilisation et/ou les recours aux services proposés par Fréquence Sport aux clients impliquent l’acceptation sans réserve des présentes Conditions Générales de Vente (ci-après les « CGV »). Le seul fait d'utiliser lesdits services entraîne l'acceptation pure et simple des présentes CGV.</p>
<br>
<p>Le Client déclare et reconnaît, en conséquence, avoir lu les présentes CGV.</p>
<br>
<p>Le Service est exclusivement réservé aux personnes juridiquement capables de souscrire des contrats en droit français.</p>
<br>
<br>
<h3>ARTICLE 2 : ENTRÉE EN VIGUEUR - DURÉE</h3>
<br>
<p>Les présentes CGV sont applicables pendant toute la durée de navigation et d’accès du Client sur le Site et pour toute la durée d’utilisation des Services par le Client
L’Utilisateur est informé que les CGV pourront faire l’objet à n’importe quel moment d’une mise à jour.</p>
<br>
<br>
<h3>ARTICLE 3 : VÉRIFICATION DE L’ADÉQUATION DES BESOINS AUX SERVICES</h3>
<br>
<p>Le Client déclare par les présentes qu'il a procédé préalablement à la souscription par lui aux services à la vérification de l’adéquation des services qu'il juge adaptés à ses besoins ainsi qu’avoir reçu de Fréquence Sport toutes les informations et conseils qui lui étaient nécessaires pour souscrire aux présentes Conditions Générales et qu'en conséquence il renonce à toute contestation sur ce point. Il appartient donc à l’Utilisateur de vérifier l’adéquation des services proposés par le site internet avec ses besoins.
L’Utilisateur déclare en outre qu’il dispose des connaissances, compétences et des ressources, notamment humaines et techniques, requises pour l’utilisation des services.</p>
<br>
<br>

<h3>ARTICLE 4 : INTERMÉDIAIRE TECHNIQUE :</h3>
<br>
<p>Fréquence Sport n’est nullement responsable des liens figurant sur son site avec d’autres sites internet qui ne lui appartiennent pas et qui ne sont pas contrôlés par elle, dès lors qu’elle n’exerce aucun contrôle sur le contenu, les chartes de protection des données personnelles ou les pratiques des sites édités par des tiers.</p>
<br>
<p>Fréquence Sport n’est pas responsable de la disponibilité de ces sites et ne peut en contrôler le contenu ni valider la publicité, les produits et autres informations diffusées sur ces sites Internet.</p>
<br>
<p>La responsabilité de Fréquence Sport vis-à-vis des clients ne peut être engagée qu’en cas d’inexécution de ses engagements résultant des CGV.</p>
<br>
<p>Les Clients ont pleinement pris conscience des dispositions du présent article et notamment des garanties et limitations de responsabilité susvisées, conditions essentielles sans lesquelles Fréquence Sport n’aurait jamais contracté.</p>
<br>
<br>
<h3>ARTICLE 5 : OBLIGATIONS ET DROITS DE LA SOCIÉTÉ FRÉQUENCE SPORT</h3>
<br>
<p>La société Fréquence Sport proposera en contrepartie de l’abonnement du Client :</p>
<br>
<ul>
  <li>des cours qualitatifs répondant au concept défini à l’article 1</li>
  <li>à différents horaires et lieux à PARIS et dans le reste de la France</li>
  <li>adaptés aux souhaits et capacité physiques de l’abonné</li>
  <li>avec le bénéfice d’une assurance de groupe souscrite auprès de MAAF ASSURANCES S.A n°175651929 L 001</li>
</ul>
<br>
<p></p>Il est entendu que la société Fréquence Sport se réserve le droit de :
<br>
<ul>
  <li>solliciter des pièces ou renseignements complémentaires pour confirmer l’inscription (notamment un certificat médical d’aptitude sous 8 JOURS en cas de réponse positive au questionnaire médical),</li>
  <li></li>
</ul>
<br>
<p>Fréquence Sport pourra aussi mettre fin à un abonnement en cas de violation de ces règles (notamment sur les déclarations d’aptitude médicale) ou de comportement soit parce qu’ils constitueraient un danger pour le Client ou les tiers soit qu’ils porteraient gravement atteinte au bon déroulement du cours.</p>
<br>
<p>Toute résiliation, quelle qu’en soit la cause sera définitive sauf décision contraire de la société Fréquence Sport.</p>
<br>
<p>L’instructeur sera libre d’annuler ou d’interrompre un cours s’il estime que les conditions de sécurité pour les participants comme les tiers ou de bon déroulement du cours ne sont pas réunies.</p>
<br>
<p>La société Fréquence Sport se réserve également la faculté de suspendre ou annuler l’accès à un cours pour ces motifs ou en cas de force majeure.</p>

<p>Ces décisions de suspension ou d’annulation d’accès pourront être collectives ou individuelles ; dans tous les cas, elles n’ouvriraient pas droit à un dédommagement.</p>

<p>L’instructeur sera en droit d’interdire l’accès à son cours 10 minutes après l’horaire prévu, sans indemnité.</p>

<p>Le Client qui s’inscrira par l’intermédiaire de l’achat d’une séance à l’unité et qui annule son inscription à une session 24h avant le début de celle-ci sera automatiquement crédité d’une séance. Passé ce délai il ne pourra plus se désinscrire, la séance sera décomptée.</p>

<p>Le contenu des cours et le cahier des charges de leur déroulement défini par la société Fréquence Sport n’a pas un caractère contractuel auprès du Client. Ils pourront donc être modifiés à tout moment sans ouvrir droit à dédommagement du Client.</p>

<p>La société Fréquence Sport se réserve le droit de modifier les horaires des séances sous réserve d’avoir informé le Client au préalable.</p>

<p>Fréquence Sport n’est pas responsable des pertes d’objets ou effets personnels. Il est donc conseillé au Client de ne pas avoir sur lui des objets de valeur. Fréquence met à disposition un espace fermé afin que le client puisse laisser ses affaires.</p>
<br>
<br>
<h3>ARTICLE 6 : CONDITIONS FINANCIÈRES DE L’ABONNEMENT</h3>

<h4>1.  Conditions de l’abonnement pour Chaud Patate :</h4>
<br>
<p>Fréquence Sport propose trois types de souscriptions :</p>
<ul>
  <li>Les séances payées à l’unité au prix de 10 euros TTC,</li>
  <li>L’abonnement mensuel sans engagement avec tacite reconduction, au prix de 29,99 euros par mois TTC,</li>
  <li>L’abonnement annuel (engagement de 12 mois avec tacite reconduction), au prix de 250 euros TTC.</li>
</ul>


<p>*TTC (Toutes Taxes Comprises).</p>

<p>Outre la présentation du certificat médical d’aptitude SOUS 8 JOURS (s’il est requis par Fréquence Sport) après l’inscription sur le site internet, pour pouvoir participer aux séances proposées par Fréquence Sport, le Client devra s’acquitter :</p>
<ul>
  <li>Pour les séances payées à l’unité, du prix intégral de 10 euros TTC.</li>
  <li>Pour l’abonnement mensuel sans engagement, le Client doit s’acquitter à l’inscription de la somme de 29,99 euros TTC correspondant au premier mois d’abonnement, puis pour les mois suivants, le client s’acquitte de 29,99 euros TTC, au choix, soit par prélèvement bancaire soit par paiement par carte bancaire.</li>
  <li>Pour l’abonnement annuel (engagement de 12 mois soit 365 jours), le Client s’acquitte à l’inscription de la somme de 250,00 euros TTC</li>
</ul>

<br>
<p>Fréquence Sport par l’intermédiaire du service « Chaud Patate » crée un réseau d’entrepreneurs. Ainsi la société Fréquence Sport se réserve le droit d’accepter ou non une inscription. L’acceptation des conditions générales et le règlement vaudront confirmation de votre choix.</p>

<p>La souscription des abonnements se fait sur le site Internet de la société Fréquence Sport (www.chaudpatate.org).</p>

<p>L’inscription ne deviendra définitive qu’après confirmation par la société Fréquence Sport de l’encaissement du 1er paiement fait par le Client.</p>

<p>Les renouvellements seront validés dans les mêmes conditions. Le Client pourra participer aux sessions si et seulement :</p>
<ul>
  <li>S‘il est créditeur de ticket(s) appelé séance à l’unité. Les tickets sont à usage strictement individuels.</li>
  <li>S’il a un abonnement en cours de validité.</li>
</ul>
<br>
<br>
<h4>2.  Conditions particulières</h4>
<br>
<p>Les séances achetées à l’unité sont valables pour une durée de 3 mois à compter de la date de paiement. Par exception, en cas d’arrêt pour raisons médicales et sur présentation d’un certificat médical, les tickets restant pourront être remboursés à la date de la réception du certificat médical.</p>
<br>
<br>
<h4>3.  Conditions de paiement</h4>
<br>
<p>Le paiement des séances à l’unité ou des abonnements s’effectueront par carte bancaire grâce au système informatique protégée de la société Stripe.com. Les tarifs précités ne sont pas définitifs. Ils pourront être modifiés librement et sans préavis.</p>

<p>Le Client garantit à Fréquence Sport qu'il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement choisi au moment de la validation du paiement et que cette carte bancaire donne accès à des fonds suffisants pour couvrir tous les coûts résultant du paiement du Prix sur le Site.
En cas de refus de la banque, la réservation sera automatiquement annulée et le Client prévenu par l'envoi d'un courrier électronique.</p>
<br>
<br>


<h3>ARTICLE 7 : DROITS ET OBLIGATIONS DU CLIENT :</h3>
<br>
<br>

<h4>7.1 Adhésion et inscriptions :</h4>
<br>
<p>La simple navigation sur le Site est libre et gratuite. Cependant, le Client doit, pour bénéficier de l’intégralité des services, s’inscrire et créer un Compte Utilisateur dans les conditions du présent article. A l’occasion de son inscription, chaque Client devra soit fournir sur le Site à minima son identifiant (Nom, prénom, date de naissance et adresse électronique), choisir un mot de passe. L'ensemble constitue ses « Codes Identifiants ». Le Client aura pour deuxième choix de se connecter à son compte directement avec le Linkedin Connect qui constituera ses « Codes Identifiants ». Une fois l'inscription complétée, l'Utilisateur devra obligatoirement accepter les présentes CGV en cochant la case adéquate. L'Utilisateur recevra ensuite un courriel de confirmation de son inscription et pourra à ce moment-là se connecter à son Compte Utilisateur en renseignant ses Codes Identifiants et utiliser l'ensemble des Services.</p>

<p>Chaque Client reconnaît son entière responsabilité dans l’usage qui sera fait de ses Codes Identifiants comme du Site. Each User accepts full responsibility for the use made of his or her Identity Codes on the Site. Il s’engage à effectuer tous les actes au sein de son Compte Utilisateur sous ses propres Codes Identifiants et tous les actes effectués sous ces Codes Identifiants seront considérés avoir été effectués par lui-même.
En cas d’oubli, d’utilisation détournée ou non autorisée de ses Codes Identifiants par un autre utilisateur, la responsabilité de Fréquence Sport ne pourra en aucun cas être engagée et le Client devra immédiatement informer Fréquence Sport de cette situation, par courriel à l'adresse contact@chaudpatate.org.</p>

<p>Le Client demeure responsable de l'utilisation de son Compte Utilisateur par des tiers jusqu'à la modification par Fréquence Sport des Codes Identifiants, ainsi le Client garantit Fréquence Sport de toute action ou réclamation concernant la perte de données résultant de la perte ou de l’usage frauduleux de ses Codes Identifiants.
Le Client accepte que les enregistrements informatiques ou électroniques effectués par Fréquence Sport et/ou par ses fournisseurs pour la délivrance des Services, de toutes opérations accomplies notamment par l’intermédiaire de son Compte Utilisateur, puissent être opposés ou utilisés devant toute autorité administrative et/ou judiciaire compétente en tant que preuve.
L’Utilisateur dispose d’un droit d’accès, de modification, de rectification et de suppression des données qui le concernent, étant informé que le Site a fait l’objet d’une déclaration à la CNIL sous le numéro de récépissé n°2009905 v0 et ce, conformément à la loi « Informatiques et libertés » n° 78-17 du 6 janvier 1978.</p>
<br>
<br>


<h4>7.2 Paiement des séances à l’unité et des abonnements :</h4>

<p>Dans le cadre du paiement du carnet de dix tickets, donnant le droit à la participation à 10 séances et pour respecter les engagements de la société Fréquence Sport auprès des prestataires, le Client devra se soumettre aux conditions suivantes :</p>

<ul>
    <li>remplir loyalement les renseignements d’état civil et le questionnaire médical permettant la pratique d’activités sportives sans réserve notamment d’ordre cardiaques, SOUS 8 JOURS à compter de l’inscription ; en cas de réponse positive au questionnaire médical, la société Fréquence Sport exigera la présentation d’un certificat médical d’aptitude,</li>
    <li>Le Client devra signaler tout changement de son état de santé et fournir un certificat médical si les réponses dans le questionnaire médical devaient être modifiées.</li>
  <li>respecter les règles de participation et consignes définies par l’instructeur (ponctualité, tenues adaptées, emport d’eau),</li>

<p>L’inscription ne deviendra définitive d’une part qu’à l’issue du délai de rétractation (voir article 9) et d’autre part de l‘encaissement du prix et des réponses au questionnaire médical (voir le cas échéant de la présentation du certificat d’aptitude) accompagné de la photographie.</p>

<p>Cette inscription ne garantit ni l’accès à tous les cours dont le nombre de place est limitée, ni le droit automatique au renouvellement à un abonnement si la formule initiale n’était pas reconduite par la société Fréquence Sport.</p>

<p>Le Client aura le droit de mettre fin à son abonnement et être remboursé au prorata de la période restant à courir si les prestations proposées par la société Fréquence Sport ne respectaient pas à deux reprises consécutives sur un mois les engagements compris dans le concept décrit à l’article 1.</p>

<p>Pour les sessions gratuites promotionnelles, le Client ne sera pas abonné mais devra néanmoins remplir le questionnaire médical (et le cas échéant fournir le questionnaire médical d’aptitude) et les renseignements d’état civil.</p>

<p>Pour les clients ayant souscrit à nos newsletters, vous pourrez vous désabonner à tout moment de celles-ci en cliquant sur le lien présent dans toutes les newsletters.</p>

<br>
<br>
<h3>ARTICLE 8 : RENOUVELLEMENT - SUSPENSION OU RÉSILIATION DU FORFAIT</h3>

<p>En cas de blessure, maladie et grossesse la durée valable du forfait serait prolongée d’une durée égale à la durée de convalescence du Client dans le cas où celui-ci en ferait la demande sur justificatif médical. En cas d’incapacité définitive justifiée médicalement, toutes les mensualités de l’abonnement payées en avance et non entamées seraient remboursés.</p>


<h3>ARTICLE 9 : DROIT DE RÉTRACTATION</h3>

<p>Conformément aux dispositions de la loi sur l’économie numérique du 21 juin 2004, l’inscription par voie électronique d’une des formules d’abonnement proposées par la société Fréquence Sport est soumise aux règles suivantes du Code de la Consommation :</p>

<h4>-     ART. L121-20 :</h4>
<p>Le consommateur dispose d'un délai de quatorze jours francs pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités, à l'exception, le cas échéant, des frais de retour.</p>

<p>Le délai mentionné à l'alinéa précédent court à compter de l'acceptation de l'offre pour les prestations de services.</p>

<p>Lorsque le délai de quatorze jours expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant.</p>

<h4>-     ART. L121-20-1 :</h4>
<p>Lorsque le droit de rétractation est exercé, le professionnel est tenu de rembourser sans délai le consommateur et au plus tard dans les trente jours suivant la date à laquelle ce droit a été exercé. Au-delà, la somme due est, de plein droit, productive d'intérêts au taux légal en vigueur.</p>

<h4>-     ART. L121-20-2 :</h4>
<p>Le droit de rétractation ne peut être exercé, sauf si les parties en sont convenues autrement, pour les contrats :</p>

<p> 1º De fourniture de services dont l'exécution a commencé, avec l'accord du consommateur, avant la fin du délai de quatorze jours francs ;</p>
<br>
<br>
<h3>ARTICLE 10 : DROITS DU CLIENT RELATIVES AUX DONNÉES PERSONNELLES</h3>

<p>La société Fréquence Sport a déclaré auprès de la CNIL la mise en place d’un fichier constitué par les données personnelles des abonnés tirées des informations fournies lors de leur inscription sous le numéro 1447092.</p>

<p>Le Client accepte expressément que la société Fréquence Sport utilise ce fichier, à l’exception des données médicales qui resteront confidentielles même après la résiliation de l’abonnement, à des fins promotionnelles ou commerciales soit pour son propre usage soit pour d’autres sociétés commerciales qui pourront l’exploiter pour présenter leurs propres opérations commerciales.</p>

<p>Tout abonné dispose du droit d’accès, de modification voir de retrait des données conformément à la loi du 6 janvier 1978 en présentant sa demande à l’administrateur du site de la société Fréquence Sport.</p>
<br>
<br>
<h3>ARTICLE 11 : CLAUSES DIVERSES</h3>

<p>La souscription du Client à un abonnement donnant droit à la participation aux séances de sport, de la société Fréquence Sport, impliquera la pleine connaissance par le Client des présentes CGV et son adhésion sans réserve.</p>

<p>Elle ne confèrera aucun droit d’usage de la marque et du logo de la société Fréquence Sport. Le mode d’inscription électronique sera reconnu comme ayant pleine valeur juridique.</p>

<p>Toutefois, les éventuels problèmes techniques de fonctionnement ou d’accès au site internet de la société Fréquence Sport même bloquant une inscription à un abonnement ou à un cours n’ouvriront droit à aucun dédommagement, quelle qu’en soit la durée.</p>

<p>Toute éventuelle résiliation ou le non-renouvellement d’un partenariat avec l’un des prestataires assurant les cours proposés par la société Fréquence Sport ne constituera pas une cause de résiliation des abonnements ni de dédommagement.</p>

<p>La société Fréquence Sport aura la faculté de modifier ces conditions générales à tout moment sans que cela constitue une cause de résiliation de l’abonnement, sous réserve d’en informer les abonnés sur son site internet.</p>

<p>L’annulation de l’une des clauses de ces conditions générales, quel qu’en soit la cause, n’emportera pas nullité de l’ensemble du contrat, dont l’application se poursuivra sans ouvrir droit à la résiliation du contrat pour l’abonné.</p>
<br>
<br>
<h3>ARTICLE 12 : LIMITATIONS DE RESPONSABILITÉ :</h3>

<p>La société Fréquence Sport intervient en qualité de vendeur de prestations de services assurés par des professionnels indépendants.</p>

<p>La responsabilité professionnelle de Fréquence Sport ne couvre donc pas les décisions et comportement des coachs et leurs conséquences envers les clients, les nouveaux clients ou les tiers.</p>
<br>
<br>
<h3>ARTICLE 13 : INFORMATIQUES ET LIBERTÉS – DONNÉES PERSONNELLES :</h3>

<p>Le renseignement des informations nominatives collectées dans le cadre des présentes CGV est obligatoire. Ces informations sont nécessaires pour le traitement et la mise en relation entre les Utilisateurs, la bonne gestion des réservations ainsi que pour l'établissement des factures. Le défaut de renseignements empêche le bon fonctionnement des Services proposés en ligne par Fréquence Sport. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, le traitement des informations nominatives collectées sur le Site a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés sous le n°2009905 v0.</p>
<br>
<h4>13.1 Utilisation et transmission de vos données personnelles :</h4>

<p>Afin d’assurer le traitement, le suivi et la mise en relation entre les clients sur le Site, Fréquence Sport doit nécessairement traiter les données personnelles du Client. Les données traitées sont transmises à Fréquence Sport, et le cas échéant aux partenaires concernés, selon les modalités et pour les finalités suivantes :</p>

<h5>Gestion de la réservation à une session sportive Chaud Patate:</h5>

<ul>
<li>Le renseignement des données personnelles collectées aux fins de mise en relation entre les Utilisateurs sur le Site est obligatoire pour la confirmation et la validation de toute réservation ainsi que son suivi. En leur absence, une réservation ne pourra être traitée et la réservation sera considérée comme nulle.</li>
  <li>Ces données peuvent être transmises auprès des prestataires techniques de Fréquence Sport, dans la seule finalité de la bonne exécution des Services, ou l’établissement de statistiques.</li>
</ul>
<p>Envoi d’informations commerciales :</p>

<ul>
<li>En fonction des choix opérés par le Client, ses données personnelles pourront être transmises aux partenaires de Fréquence Sport.</li>
  <li>Sauf opposition, le Client est susceptible de recevoir, des informations commerciales de la part de sociétés tierces partenaires de Fréquence Sport par email.Âdans un délai de 2 mois suivant la réception de la demande.</li></ul>

<h4>13.3 Cookies</h4>

<p>13.3.1 Lors de la consultation du Site, des informations relatives à la navigation du client sur le Site, sont susceptibles d'être enregistrées dans des fichiers « cookies » installés sur l’ordinateur ou le terminal mobile de l'Utilisateur, sous réserve des choix que qu'il aura exprimés lors de l’apparition sur le Site de la bannière concernant les cookies et qu'il pourra modifier à tout moment. Les cookies sont des identifiants alphanumériques qui sont transférés sur le disque dur du client par l'intermédiaire de son navigateur Internet, afin de permettre au système de reconnaître le navigateur du Client et de lui proposer des Services adaptés.</p>

<p>13.3.2 Les cookies sont utilisés par Fréquence Sport afin de mémoriser les préférences de le client, d’optimiser et améliorer l’utilisation du Site par le Client en fournissant un contenu qui est plus précisément adapté à ses besoins.</p>

<p>Les « cookies » sont utilisés pour :
  •     identifier le Client lors de sa connexion au Site.
  •     Déterminer les paramètres du navigateur Internet du Client, tels que le type de navigateur utilisé et les plug-ins qui y sont installés.
  •     Mémoriser les réservations du Client.
  •     Connaître les pages internet consultées et/ou recherchées sur le Site par le Client afin de lui proposer des suggestions adaptées.
  •     Aucune donnée personnelle n’est collectée dans le cadre de cette activité, seules des données statistiques y sont collectées et analysées aux fins d’optimisation du Site Internet.</p>

<p>Certains cookies sont installés jusqu'à la fermeture du navigateur du Client, d'autres sont conservés pendant plus longtemps. Les cookies sont conservés pour une durée maximale de 12 mois. La section Aide de la barre d'outils de la plupart des navigateurs indique comment refuser les nouveaux « cookies » ou obtenir un message qui vous signale leur réception, ou encore comment désactiver tous les « cookies ».</p>

<p>13.3.3 Seul l’émetteur d'un cookie est susceptible de lire ou de modifier des informations qui y sont contenues. Lorsque le Client se connecte sur le Site, Fréquence Sport peut être amenée, sous réserve du choix du Client, à installer divers cookies dans son terminal, permettant de reconnaître le navigateur de son terminal pendant la durée de validité du cookie concerné. Les cookies que Fréquence Sport émet sont utilisés aux fins décrites ci-dessus, sous réserve du choix du Client, qui résultent des paramètres de son logiciel de navigation utilisé lors de sa visite sur le Site et de son accord en cliquant sur le bouton « ok » de la bannière concernant les cookies.
Plusieurs possibilités sont offertes au Client pour gérer les cookies. Tout paramétrage de l'Utilisateur sur l’utilisation des cookies sera susceptible de modifier sa navigation sur Internet et ses conditions d'accès à certains Services nécessitant l'utilisation de cookies.
Le Client peut faire le choix à tout moment d'exprimer et de modifier ses souhaits en matière de cookies, par les moyens décrits ci-dessous. Le Client peut configurer son logiciel de navigation de manière à ce que des cookies soient enregistrés dans son terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur. Le client peut également configurer son logiciel de navigation de manière à ce que l'acceptation ou le refus des cookies lui soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans son terminal.</p>

<p>13.4 Cookies et comportement :

Fréquence Sport ne collecte ni ne traite à ce jour d’informations personnelles dit « de comportement » du Client, tel que défini par l’Ordonnance n° 2011-1012 du 24 août 2011 relative aux communications électroniques.
Toute mise en place de cookie de comportement sur le Site par Fréquence Sport fera l’objet au préalable d’une autorisation expresse et préalable du Client sur le Site.</p>
<br>
<br>
<h3>ARTICLE 14 : ATTRIBUTION DE JURIDICTION</h3>

<p>Les parties conviennent de soumettre le présent contrat au droit français et tout litige relatif à l'interprétation, l'application ou la résiliation du contrat à la compétence exclusive du Tribunal de Commerce de PARIS.</p>



</div>
