<html>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <!-- margin-top -->

      <!-- Logo zone -->



      <%= yield %>

      <!-- padding bottom -->
      <tr>
        <td width="600" height="40" bgcolor="#FFFFFF" style="background-color: #FFFFFF"></td>
      </tr>
      <!-- margin bottom -->
      <tr>
        <td width="600" height="40"></td>
      </tr>
    </table>
  </body>
</html>
